# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
# Local test reports
karate-tests/reports/
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debugging artifacts
*.tgz
*.txt
*.html
package/
target/

# Security
gcp-key.json

# Local SDK
google-cloud-sdk/
google-cloud-sdk-linux-x86_64.tar.gz
